################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QRReaderCameraWeb_Test/v15
/.vs/DemoCamera/v15/Server/sqlite3
/.vs
